<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="#"></a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a [routerLink]="['/res']" (click)="gotoTop()" class="nav-link scrollto">Ressources</a></li>
                <li><a [routerLink]="['/reserve']" (click)="gotoTop()" class="nav-link scrollto">Réservation</a></li>
                <li><a [routerLink]="['/type']" (click)="gotoTop()" class="nav-link scrollto">Type</a></li>
                <li><a [routerLink]="['/CONTACT']" (click)="gotoTop()" class="nav-link scrollto">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>