<app-adminheader></app-adminheader>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <app-adminsidebar></app-adminsidebar>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4"> Ressources</h1>
                <div class="row" *ngIf="addFormVisible">
                    <div class="card mb-4">
                        <div class="card-header">
                            
                        </div>
                        <div class="card-body">

                            <form (ngSubmit)="createActualite()" method="POST">
                                <div class="card card-default">

                                    <div class="card-body">

                                        <div class="row">
                                            <div class="form-group col-lg-6">
                                                <label>Name</label>
                                                <input type="text" name="name" [(ngModel)]="actualiteRes.name"
                                                    class="form-control" />
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label>Description</label>
                                                <textarea  name="description" [(ngModel)]="actualiteRes.description"
                                                    class="form-control" ></textarea>
                                            </div>
                                            <div>
                                                <label>Choose type</label>
                                                 <select (change)="onOptionSelected($event)">
                                                  <option value="default">----</option>
                                                          <option *ngFor="let item of actualitesType" value="{{item.id}}">
                                                             {{item.nom}}
                                                           </option>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="row">  
                                            <div class="inputfiles">
                                              <label>Image</label>
                                              <input type="file" name="images" (change)="  dispaly($event)" 
                                              accept="image/*"    [(ngModel)]="actualiteRes.image "
                                              />
                                            </div>
                                            <img [src]="imgURL" height="200" *ngIf="imgURL">
                                      </div>

                                    </div>
                                    <div class="card-footer">
                                        <div class="row float-right">
                                            <div class="col">
                                                <button type="reset" class="btn btn-primary  btn-sm m-3"
                                                    data-dismiss="modal"
                                                    (click)="hideAddForm()">Annuler</button>
                                                <button type="submit" class="btn btn-success btn-sm"
                                                    data-dismiss="modal">Enregistrer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>


                <div class="row" *ngIf="editFormVisible">
                    <div class="card mb-4">
                        <div class="card-body">

                            <form (ngSubmit)="editActualite(actualiteRes)" method="POST">
                                <div class="card card-default">

                                    <div class="card-body">

                                        <div class="row">
                                         
                                            <div class="row">
                                                <div class="form-group col-lg-6">
                                                    <label>Name</label>
                                                    <input type="text" name="name" [(ngModel)]="actualiteRes.name"
                                                        class="form-control" />
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Description</label>
                                                    <textarea  name="description" [(ngModel)]="actualiteRes.description"
                                                        class="form-control" ></textarea>
                                                </div>
                                                <div>
                                                    <label>Choose type</label>
                                                     <select >
                                                      <option value="default">----</option>
                                                              <option *ngFor="let item of actualitesType" [value]="item.id">
                                                                 {{item.nom}}
                                                               </option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="row">  
                                                <div class="inputfiles">
                                                  <label>Image</label>
                                                  <input type="file" name="images" (change)="  dispaly($event)" 
                                                  accept="image/*"    [(ngModel)]="actualiteRes.image " />
                                                </div>
                                                <img [src]="imgURL" height="200" *ngIf="imgURL">
                                          </div>
                                        </div>
                                    </div>
                                       
                                    <div class="card-footer">
                                        <div class="row float-right">
                                            <div class="col">
                                                <button type="reset" class="btn btn-primary  btn-sm m-3"
                                                    data-dismiss="modal"
                                                    (click)="hideAddForm()">Annuler</button>
                                                <button type="submit" class="btn btn-success btn-sm"
                                                    data-dismiss="modal" (click)="updateActualiteRes()">Enregistrer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>




                        </div>
                    </div>
                </div>






                <div class="row">
                    <div class="card mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col col-lg-10">
                                    <i class="fas fa-table me-1"></i>
                                    Liste des Ressources
                                </div>
                                <div class="col col-lg-2">
                                    <button class="btn btn-primary btn-sm float-right" (click)="showAddForm()">
                                        Ajouter
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="dataTable-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Image</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let actualite of actualitesRes">
                                    <td>{{ actualite.name }}</td>
                                    <td>
                                        <p> {{ actualite.description }}</p>
                                    </td>
                                    <td>
                                        <img src="assets/formation/{{actualite.image}}"
                                            style="width: 50px; height: 50px;" />
                                    </td>
                                       
                                        <td>
                                            <div class="row">
                                                <div class="col float-right">
                                                    <button class="btn btn-sm btn-warning m-2"
                                                        (click)="editActualite(actualite)">
                                                        Modifier
                                                    </button>
                                                    <button class="btn btn-sm btn-danger m-2"
                                                        (click)="deleteActualite(actualite)">

                                                        Delete

                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="totalActualites == 0">
                                        <td colspan="4" style="text-align: center;">Aucune Ressource publié!</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>