<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading"></div>

            <a class="nav-link" [routerLink]="['/user/edit']">
                <div class="sb-nav-link-icon"><i class="fas fa-id-card"></i></div>
                profile
            </a>

            <div class="sb-sidenav-menu-heading"></div>
           
            <a class="nav-link" [routerLink]="['/user/type']">
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                Type Ressources
            </a>
            <a class="nav-link" [routerLink]="['/user/res']">
                <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                Ressources
            </a>
            <a class="nav-link" [routerLink]="['/user/reserve']">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Réservation
            </a>
        </div>
    </div>
    
</nav>
